services:
  - type: web
    name: my-django-app
    env: python
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn thesis_project.wsgi:application"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
